/*
  * Desenvolvido por Ivan Junior
  * Blue Sol Energia Solar
  * 
  */

/****** Tags ******/


/****** Classes ******/
/*.progress {
  width: 100%;
}*/

.topo {
  padding-top: 30px;
}

.opacity {
  opacity: 0.2;
}

.base {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 1em;
  padding-bottom: 1.5em;
  box-sizing: border-box;
  margin-bottom: 2rem;
  -webkit-transition: transform .3s;
  -moz-transition: transform .3s;
  transition: transform .3s;
}

.base-estatico {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  padding-top: 1em;
  padding-bottom: 1.5em;
  -webkit-transition: transform .3s;
  -moz-transition: transform .3s;
  transition: transform .3s;

}


/* Efeito de zoom na div 'base' quando passar o mouse */
.base:hover {
  -webkit-transform: scale(1.1);
  -moz--transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.base-conteudo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-sizing: border-box;
  height: 200px;
}

.conteudo {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  box-sizing: border-box;
  text-align: center !important;
}

.conteudo-progresso {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.1rem;
  box-sizing: border-box;
  text-align: center !important;
}

.img-curso {
  max-width: 100px;
  margin-top: -60px;
  margin-bottom: 5px;
  border-radius: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.fullcoursename a {
  margin-bottom: 5px;
  margin-top: 10px;
  color: black;
}

.area-progresso {
  position: absolute;
  bottom: 5;
  left: 7px;
  right: 7px;
  margin: auto;
}

.description {
  margin-bottom: 1rem;
}

.acesse-aqui {
  color: white;
  border-radius: 0.3rem;
  border: 1px solid transparent;
  outline: 0;
}

.acesse-aqui:hover {
  color: white;
}

.timecompleted {
  font-size: 0.75rem;
}

.status .progress {
	border-radius: 0.25rem;
}

/*.acesse-aqui {
  background-color: #045e9c;
  color: white;
  width: 100%;
  cursor: pointer;
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  border: 1px solid transparent;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  margin-bottom: 1rem;
}
*/

/****** Cores dos cursos, cada curso deverá ter uma cor ******/
.bg-amb {
  background-color: #993340;
  box-shadow: 0 0 0 0.2rem rgba(153, 51, 64, 0.25);
}

.bg-congresso {
  background-color: #1dbab3;
  box-shadow: 0 0 0 0.2rem rgba(29, 186, 179, 0.25);
}

.bg-sfo {
  background-color: #6ab92b;
  box-shadow: 0 0 0 0.2rem rgba(106, 185, 43, 0.25);
}

.bg-mep {
  background-color: #bf2a00;
  box-shadow: 0 0 0 0.2rem rgba(191, 42, 0, 0.25);
}

.bg-fdv {
  background-color: #06650c;
  box-shadow: 0 0 0 0.2rem rgba(6, 101, 12, 0.25);
}

.bg-ie {
  background-color: #bcbec0;
  box-shadow: 0 0 0 0.2rem rgba(188, 190, 192, 0.25);
}

.bg-dfo {
  background-color: #71b0c4;
  box-shadow: 0 0 0 0.2rem rgba(113, 176, 196, 0.25);
}

.bg-pfo {
  background-color: #f7bc00;
  box-shadow: 0 0 0 0.2rem rgba(247, 188, 0, 0.25);
}

.bg-visita-tecnica {
  background-color: #553a43;
  box-shadow: 0 0 0 0.2rem rgba(85, 58, 67, 0.25);
}

.bg-efee {
  background-color: #f7941e;
  box-shadow: 0 0 0 0.2rem rgba(247, 148, 30, 0.25);
}

.bg-psy {
  background-color: #36485e;
  box-shadow: 0 0 0 0.2rem rgba(54, 72, 94, 0.25);
}

.bg-instalacao {
  background-color: #3a3688;
  box-shadow: 0 0 0 0.2rem rgba(58, 54, 136, 0.25);
}

.bg-per {
  background-color: #f7941e;
  box-shadow: 0 0 0 0.2rem rgba(247, 148, 30, 0.25);
}

.bg-mav {
  background-color: #1c75bc;
  box-shadow: 0 0 0 0.2rem rgba(28, 117, 188, 0.25);
}

.bg-contratasol {
	background-color: #70ad79;
	box-shadow: 0 0 0 0.2rem rgba(112, 173, 121, 0.25);
}

.bg-especialista {
  background-color: #9d1e4c;
  box-shadow: 0 0 0 0.2rem rgba(157, 30, 76, 0.25);
}